# 4.6 Combining and Exporting Task

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

This script contains the following points:
1. Importing of orders and products data
2. Merging of orders and products data

In [2]:
path=r'C:\Users\dell\Desktop\Career Foundry\0423_Instacart Analysis'

In [3]:
# Import pickle for order_products_combined data set
df_orders_prods_combined=pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_combined.pkl'))

In [4]:
df_orders_prods_combined.shape

(32434489, 9)

In [5]:
pvars_list=['product_id','product_name','aisle_id','department_id','prices']

In [6]:
# Import data set products.csv
df_prods=pd.read_csv(os.path.join(path,'02 Data','Prepared Data','products_checked.csv'),usecols=pvars_list)

In [7]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df_orders_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,#ofdays_since_last_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,0.0,196,1,0
1,2539329,1,1,2,8,0.0,14084,2,0
2,2539329,1,1,2,8,0.0,12427,3,0
3,2539329,1,1,2,8,0.0,26088,4,0
4,2539329,1,1,2,8,0.0,26405,5,0

In [9]:
# Test merge without overwrite

pd.merge(df_orders_prods_combined,df_prods, on = ['product_id'], indicator = True)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,#ofdays_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,17,2,15,1.0,43553,2,1,Orange Energy Shots,64,7,3.7,both
32404855,31526,202557,18,5,11,3.0,43553,2,1,Orange Energy Shots,64,7,3.7,both
32404856,758936,203436,1,2,7,0.0,42338,4,0,"Zucchini Chips, Pesto",50,19,6.9,both
32404857,2745165,203436,2,3,5,15.0,42338,16,1,"Zucchini Chips, Pesto",50,19,6.9,both
32404858,3093936,205420,1,4,14,0.0,28818,8,0,Hot Oatmeal Multigrain Raisin,130,14,10.3,both

In [11]:
# Merge of orders and products dataframes with indicator

df_merged_indicator = df_orders_prods_combined.merge(df_prods, on = ['product_id'], indicator = True)

In [12]:
df_merged_indicator['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [13]:
# Final merge without indicator for exporting

df_orders_prods_merged = df_orders_prods_combined.merge(df_prods, on = ['product_id'])

In [14]:
# Export data to pkl

df_orders_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_prods_merged.pkl'))